*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
   display: flex;
}

.general{
    display: flex;
    flex-direction: column;
    gap: 94px;
    padding-bottom: 87px;    
}


.kid1{
    background-color: gray;
    height: 72px;

}

.kid2{
    display:flex;
    flex-direction: column;
    gap: 47px;
    padding: 0px 51px 0px 51px;
}

.blockred{
    border: 1px solid black;
    height: 299px;
}

.block6{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,197px);
    gap: 31px;
}

.block6 div{
    border: 1px solid black;
    gap: 31px;
}