/*ruleset made of a element selctor and a declaration to reinitialize
the style sheet of the browser*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

main section:first-of-type{
    height: 204px;
}

body{
    padding: 83px 80px 161px 80px;
    overflow-x: hidden;
    background-color: #F2F2F2;
}

.color{
    background-color:white ;
    padding-bottom: 152.09px;
}

main section:last-of-type{
    height: 374px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,150px) ;
    row-gap: 60px;
    column-gap: 148px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 103px 80px 106px 80px;
}

main section:first-of-type>h1{
    width: 750px;
    height: 144px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
}

main section>article>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

main section>article>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

nav section:first-of-type{
    height: 204px;
}

nav section:last-of-type{
    height: 374px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,150px) ;
    row-gap: 60px;
    column-gap: 148px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 103px 80px 106px 80px;
}

nav section:first-of-type>h1{
    width: 750px;
    height: 144px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
}

nav section>article>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

nav section>article>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

nav section>article>button{
    font-family: 'Montserrat', sans-serif;
    color: var(--actionable-item, #18A0FB);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.225px;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--actionable-item, #18A0FB);
    background: #FFF;
    margin-top: 32px;
    
}

aside section:first-of-type{
    height: 204px;
}

aside section:last-of-type{
    height: 374px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,150px) ;
    row-gap: 60px;
    column-gap: 148px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 103px 80px 106px 80px;
}

aside section:first-of-type>h1{
    width: 750px;
    height: 144px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
}

aside section>article>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

aside section>article>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

aside section>article>button{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.225px;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--actionable-item, #18A0FB);
    background: var(--actionable-item, #18A0FB);
    margin-top: 32px;
    
}

header section:first-of-type{
    height: 204px;
}

header section:last-of-type{
    height: 374px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,150px) ;
    row-gap: 60px;
    column-gap: 148px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 103px 80px 106px 80px;
}

header section:first-of-type>h1{
    width: 750px;
    height: 144px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
}

header section>article>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

header section>article>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

header section>article>button{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.225px;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--actionable-item, #18A0FB);
    background: var(--actionable-item, #18A0FB);
    margin-top: 32px;
    
}

footer article:first-child{
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 750px;
    height: 440px;
    background-color:#E5E5E5 ;
}

footer article:last-child>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

footer article:last-child>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

footer article:last-child{
    width: 686px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    display:flex;
    justify-content: center;
    gap: 84px;
    padding: 80px;
}

address article:last-child{
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 750px;
    height: 440px;
    background-color:#E5E5E5 ;
}

address article:first-child>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

address article:first-child>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

address article:first-child{
    width: 686px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

address{
    display:flex;
    justify-content: center;
    gap: 84px;
    padding: 80px;
}

legend article:first-child{
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 830px;
    height: 740px;
    background-color:#E5E5E5 ;
}

legend article:last-child>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

legend article:last-child>p:first-of-type{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    padding-bottom: 20px;
}

legend article:last-child{
    width: 686px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

legend{
    display:flex;
    justify-content: center;
    gap: 84px;
    padding: 0px 80px 0px 0px;
}

legend article:last-child>p:last-of-type{
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.21px;
    margin-top: 65px;
}

.block1{
    border: 1px solid rgba(0, 0, 0, 0.30);
    width: 830px;
    height: 740px;
    background-color:#E5E5E5 ;
}

.articleright{
    width: 686px;
    padding-top: 178px;
}

.parent{
    display:flex;
    justify-content: center;
    gap: 84px;
    padding: 0px 80px 0px 0px;
    margin-top: 40px;
}

.articleright>h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.36px;
}

.articleright>.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
    
}

.articleright>.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
    margin-bottom: 21px;
    
}

.blockimg{
    display: flex;
    gap: 20px;
}

.imgbul{
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 51px;
}

.textun
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 53px;
    padding-top: 53px;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: -0.21px;
}

.container{
    display: grid;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(1,150px) ;
    gap: 20px;
    justify-content: center;
    margin: 60px 0px 120px 0px;
}

.titre h1{
    width: 750px;
    height: 144px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
}

.titre{
    padding:60px 80px 120px 80px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 183px; 
    margin-top: 181.18px;
}

.container>article>a{
    color: var(--actionable-item, #18A0FB);
    font-family:  'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: -0.27px;
    text-decoration: none; 
    
}

.container>article>img{
    margin-bottom: 40px;
}

.container>article>p{
    margin-bottom: 24px;
}

.bigskid1 {
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: 740px;
    width: 830px;
    background-color:#E5E5E5 ;
}

.bigskid2{
    height: 740px;
    width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    line-height: 30px;
    font-family:  'Montserrat', sans-serif;
}

.bigsquaredad{
    display: flex;
    gap: 148px;
}

.bigskid2>article>h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.36px;
    margin-bottom: 24px;
    padding-top: 60px;
}

.bigskid2>article>p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.27px;
    color: rgba(0, 0, 0, 0.80);
}

.bigS>h1{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; 
    letter-spacing: -0.72px;
    font-family:'Montserrat', sans-serif;
}

.bigS>p{
    text-align: center;
    margin-bottom: 100px;
    font-family:'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.54px;
    color: rgba(0, 0, 0, 0.80);
}

.navi h1{
    width: 750px;
    height: 144px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
    margin:120px 850px 20px 0px;
    font-family:'Montserrat', sans-serif;
}

.navi p{
    width: 1392px;
    height: 100px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: -0.54px;
    font-family:'Montserrat', sans-serif;
    padding:20px 280px 100px 0px;
}

.mainu{
    display:flex;
    justify-content: center;
    gap: 84px;
    margin-left:80px ;
    margin-right:144px ;
    font-family: 'Montserrat', sans-serif;
}

.blockus1{
    width: 686px;
    height: 655px;
    border: 1px solid rgba(0, 0, 0, 0.50);

}

.blockus2{
    width: 686px;
    height: 655px;
    border: 1px solid rgba(0, 0, 0, 0.50);

}

.blockus1 article:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    background-color:#E5E5E5 ;
    height: 400px;

}

.blockus1 article:last-child{
    padding: 71px 64px 148px 64px;

}

.blockus2 article:first-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    background-color:#E5E5E5 ;
    height: 400px;

}

.blockus2 article:last-child{
    padding: 71px 64px 148px 64px;

}

.blockus1 article:last-child>h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.36px;
    margin-bottom: 24px;
}

.blockus1 article:last-child>p{
    color: rgba(0, 0, 0, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

.blockus2 article:last-child>p{
    color: rgba(0, 0, 0, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
}

.blockus2 article:last-child>h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.36px;
    margin-bottom: 24px;
}

.final{
    display:flex;
    flex-direction: column;
    gap: 100px;
}

.finally2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,275px) ;
    column-gap: 30px;
    margin-left:80px;
    margin-right:144px;
}

.finally2 article{
    border: black 1px solid;
    font-family: 'Montserrat', sans-serif;
}

.fin{
    background-color: #E5E5E5;

}

.fin2 h4{
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.36px;
    margin-bottom: 24px;

}

.fin p{
    font-family:'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -0.27px;
   
}

.fin2{
     padding: 64px;

}

.fini h1{
    width: 750px;
    height: 144px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.72px;
    margin:120px 850px 20px 0px;
    font-family:'Montserrat', sans-serif;
}

.fini p{
    width: 1392px;
    height: 100px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: -0.54px;
    font-family:'Montserrat', sans-serif;
    padding:20px 280px 100px 0px;
}

.fini{
    margin-left: 80px;
    margin-right: 208px;
}